In [1]:
print('hello world')

hello world

In [2]:
import tensorflow as tf

In [5]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.utils import shuffle
from sklearn. preprocessing import scale

print ("Tensorflow版本是：", tf.version)

Tensorflow版本是： <module 'tensorflow._api.v2.version' from '/opt/anaconda3/lib/python3.8/site-packages/tensorflow/_api/v2/version/__init__.py'>

In [6]:
print ("Tensorflow版本是：", tf.__version__)

Tensorflow版本是： 2.2.0

In [7]:
df = pd.read_csv('data/boston.csv', header = 0)

In [8]:
print(df.describe())

             CRIM          ZN       INDUS        CHAS         NOX          RM  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     1.269195   13.295257    9.205158    0.140765    1.101175   15.679800
std      2.399207   23.048697    7.169630    0.312765    1.646991   27.220206
min      0.000000    0.000000    0.000000    0.000000    0.385000    3.561000
25%      0.049442    0.000000    3.440000    0.000000    0.449000    5.961500
50%      0.144655    0.000000    6.960000    0.000000    0.538000    6.322500
75%      0.819622   18.100000   18.100000    0.000000    0.647000    6.949000
max      9.966540  100.000000   27.740000    1.000000    7.313000  100.000000

              AGE         DIS         RAD         TAX     PIRATIO           B  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    58.744660    6.173308   78.063241  339.317787   42.614980  332.791107
std     33.104049    6.476435  203.542157  180.670077   87.585243  125.322456
min      1.137000    1.129600    1.000000   20.200000    2.600000    0.320000
25%     32.000000    2.430575    4.000000  254.000000   17.000000  364.995000
50%     65.250000    3.925850    5.000000  307.000000   18.900000  390.660000
75%     89.975000    6.332075   24.000000  403.000000   20.200000  395.615000
max    100.000000   24.000000  666.000000  711.000000  396.900000  396.900000

            LSTAT        MEDV
count  506.000000  452.000000
mean    11.537806   23.750442
std      6.064932    8.808602
min      1.730000    6.300000
25%      6.877500   18.500000
50%     10.380000   21.950000
75%     15.015000   26.600000
max     34.410000   50.000000

In [10]:
df.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PIRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7

In [11]:
ds = df.values

In [12]:
print(ds)

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 3.9690e+02 4.9800e+00 2.4000e+01]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 3.9690e+02 9.1400e+00 2.1600e+01]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 3.9283e+02 4.0300e+00 3.4700e+01]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 3.9690e+02 5.6400e+00 2.3900e+01]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 3.9345e+02 6.4800e+00 2.2000e+01]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 3.9690e+02 7.8800e+00 1.1900e+01]]

In [13]:
x_data = ds[:,:12]

In [14]:
y_data = ds[:, 12]

In [15]:
print('x: ', x_data)
print('y: ', y_data)

x:  [[6.3200e-03 1.8000e+01 2.3100e+00 ... 2.9600e+02 1.5300e+01 3.9690e+02]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 2.4200e+02 1.7800e+01 3.9690e+02]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 2.4200e+02 1.7800e+01 3.9283e+02]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.7300e+02 2.1000e+01 3.9690e+02]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.7300e+02 2.1000e+01 3.9345e+02]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.7300e+02 2.1000e+01 3.9690e+02]]
y:  [ 4.98  9.14  4.03  2.94  5.33  5.21 12.43 19.15 29.93 17.1  20.45 13.27
 15.71  8.26 10.26  8.47  6.58 14.67 11.69 11.28 21.02 13.83 18.72 19.88
 16.3  16.51 14.81 17.28 12.8  11.98 22.6  13.04 27.71 18.35 20.34  9.68
 11.41  8.77 10.13  4.32  1.98  4.84  5.81  7.44  9.55 10.21 14.15 18.8
 30.81 16.2  13.45  9.43  5.28  8.43 14.8   4.81  5.77  3.95  6.86  9.22
 13.15 14.44  6.73  9.5   8.05  4.67 10.24  8.1  13.09  8.79  6.72  9.88
  5.52  7.54  6.78  8.94 11.97 10.27 12.34  9.1   5.29  7.22  6.72  7.51
  9.62  6.53 12.86  8.44  5.5   5.7   8.81  8.2   8.16  6.21 10.59  6.65
 11.34  4.21  3.57  6.19  9.42  7.67 10.63 13.44 12.33 16.47 18.66 14.09
 12.27 15.55 13.   10.16 16.21 17.09 10.45 15.76 12.04 10.3  15.37 13.61
 14.37 14.27 17.93 25.41 17.58 14.81 27.26 17.19 15.39 18.34 12.6  12.26
 11.12 15.03 17.31 16.96 16.9  14.59 21.32 18.46 24.16 34.41 26.82 26.42
 29.29 27.8  16.65 29.53 28.32 21.45 14.1  13.28 12.12 15.79 15.12 15.02
 16.14  4.59  6.43  7.39  5.5   1.73  1.92  3.32 11.64  9.81  3.7  12.14
 11.1  11.32 14.43 12.03 14.69  9.04  9.64  5.33 10.11  6.29  6.92  5.04
  7.56  9.45  4.82  5.68 13.98 13.15  4.45  6.68  4.56  5.39  5.1   4.69
  2.87  5.03  4.38  2.97  4.08  8.61  6.62  4.56  4.45  7.43  3.11  3.81
  2.88 10.87 10.97 18.06 14.66 23.09 17.27 23.98 16.03  9.38 29.55  9.47
 13.51  9.69 17.92 10.5   9.71 21.46  9.93  7.6   4.14  4.63  3.13  6.36
  3.92  3.76 11.65  5.25  2.47  3.95  8.05 10.88  9.54  4.73  6.36  7.37
 11.38 12.4  11.22  5.19 12.5  18.46  9.16 10.15  9.52  6.56  5.9   3.59
  3.53  3.54  6.57  9.25  3.11  5.12  7.79  6.9   9.59  7.26  5.91 11.25
  8.1  10.45 14.79  7.44  3.16 13.65 13.    6.59  7.73  6.58  3.53  2.98
  6.05  4.16  7.19  4.85  3.76  4.59  3.01  3.16  7.85  8.23 12.93  7.14
  7.6   9.51  3.33  3.56  4.7   8.58 10.4   6.27  7.39 15.84  4.97  4.74
  6.07  9.5   8.67  4.86  6.93  8.93  6.47  7.53  4.54  9.97 12.64  5.98
 11.72  7.9   9.28 11.5  18.33 15.94 10.36 12.73  7.2   6.87  7.7  11.74
  6.12  5.08  6.15 12.79  9.97  7.34  9.09 12.43  7.83  5.68  6.75  8.01
  9.8  10.56  8.51  9.74  9.29  5.49  8.65  7.18  4.61 10.53 12.67  6.36
  5.99  5.89  5.98  5.49  7.79  4.5   8.05  5.57 17.6  13.27 11.48 12.67
  7.79 14.19 10.19 14.64  5.29  7.12 14.   23.1   3.26  3.73  2.96  9.53
  8.88 13.8  13.8  15.   13.9  21.24 13.1  10.2  10.4  10.9  23.6  24.56
  8.8   7.2  10.5   7.4  10.2  20.85 17.11 18.76  9.7  15.17 12.7  17.12
 19.37 19.92  5.   29.97  5.6   7.2  20.31  8.3   8.5   5.   11.9  27.9
 26.4  27.5  15.   17.2  17.9  16.3   7.    7.2   7.5  10.4   8.8   8.4
 16.7  15.7  20.8  23.29 17.16  8.3  10.2  10.9  21.52 24.08 17.64 14.1
 12.03 16.22 11.7  13.4   9.6   8.7   8.4  22.88 10.5  19.52 16.59 18.85
 10.8  11.8  17.79 16.44 18.13 19.31 17.44 17.73 17.27 16.74 18.71 18.13
 19.01 16.94 16.23 14.7  16.42 14.65 13.99 10.29 13.22 14.13 17.15 21.32
 19.1  20.1  16.29 12.87 14.36 11.66 18.14 24.1  18.68 12.   14.6  21.4
 10.74  7.74  7.01 10.42 13.34 10.58 14.98 11.45 18.06 23.97 29.68 18.07
 13.35 12.01 13.59 17.6  21.14 14.1  12.92 15.1  14.33  9.67  9.08  5.64
  6.48  7.88]

In [21]:
train_num = 300
valid_num = 100
test_num = len(x_data) - train_num - valid_num

# 训练集
x_train = x_data[:train_num]
y_train = y_data[:train_num]

# 验证集
x_valid = x_data[train_num : train_num + valid_num]
y_valid = y_data[train_num : train_num + valid_num]

# 测试集
x_test = x_data[train_num + valid_num: train_num + valid_num + valid_num]
y_test = y_data[train_num + valid_num: train_num + valid_num + valid_num]

In [23]:
x_train = tf.cast(x_train, dtype = tf.float32)
x_valid = tf.cast(x_valid, dtype = tf.float32)
x_test = tf.cast(x_test, dtype = tf.float32)

In [24]:
def model(x, w, b):
    return tf.matmul(x, w) + b

In [25]:
W = tf.Variable(tf.random.normal([12, 1], mean = 0.0, stddev = 1.0, dtype = tf.float32))

In [26]:
B = tf.Variable(tf.zeros(1), dtype = tf.float32)

In [27]:
print(W, B)

<tf.Variable 'Variable:0' shape=(12, 1) dtype=float32, numpy=
array([[ 1.3375223 ],
       [ 0.4831867 ],
       [ 0.60867465],
       [ 0.2158689 ],
       [-0.25666663],
       [ 0.25764212],
       [ 0.7990075 ],
       [-0.16600476],
       [-0.17547683],
       [-0.2484233 ],
       [-1.4685133 ],
       [-0.09413887]], dtype=float32)> <tf.Variable 'Variable:0' shape=(1,) dtype=float32, numpy=array([0.], dtype=float32)>